@page
@model BookStore.Pages.Books.CreateModel
@{
    ViewData["Title"] = "Add Book";
}

<h2>Add New Book</h2>

<form method="post">
    <div>
        <label>Title</label>
        <input asp-for="Book.Title" />
    </div>
    <div>
        <label>Author</label>
        <input asp-for="Book.Author" />
    </div>
    <div>
        <label>Price</label>
        <input asp-for="Book.Price" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>